<h1>Contractors List</h1>
<% @contractors.each do |contractor| %>
  <h3> Contractor:<%= contractor.name %> Created at: <%= contractor.created_at %></h3>
<%end%>

<%= link_to "New Contractor", '/contractors/new' %>
